# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.Python
build/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/INSTALL

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
/env/

/.idea
/ui/node_modules
/static/ui

# Build result
/dist.tar
/dist.tar.gz
