{# @formatter:off #}
{% import 'boilerplate/test-scripts/_testelements.sh.j2' as testelements %}
#!/bin/sh
GST_PLUGIN_PATH=`dirname $0`/../src/.libs/ GST_DEBUG="*:2,{{ element.name | all_lower_case }}:5" gst-launch-1.0 \
	{{ element.name | all_lower_case }} ! {{ testelements.testcapsfilter(element) }} {{ testelements.testsink(element) }}
