<div ngModelGroup="pad">
  <div
    [trackScrollConfig]="{ position: 'top' }"
    trackScroll (trackScrollEnter)="enterPad()" [attr.id]="padId()"
  >
    <div class="form-group row">
      <label for="{{ 'mediaType' | newId }}" class="col-lg-2 col-sm-12 col-form-label">Data-Type</label>
      <div class="col-lg-10 col-sm-12">
        <select
          class="form-control"
          id="{{ 'mediaType' | lastId }}" name="{{ 'mediaType' | lastId }}"
          required
          [(ngModel)]="element.pads[pad]"
        >
          <option></option>
          <option value="VIDEO">Video</option>
          <option value="AUDIO">Audio</option>
        </select>
      </div>
    </div>
  </div>
</div>
