{# @formatter:off -#}
{% include 'boilerplate/src/_license-header.c.j2' %}
#ifdef HAVE_CONFIG_H
#include "config.h"
#endif

{% for element in plugin.elements %}
#include "{{ element.name | all_lower_case }}.h"
{% endfor %}

static gboolean
plugin_init (GstPlugin * plugin)
{
{% for element in plugin.elements %}
	gst_element_register (plugin, "{{ element.name | all_lower_case }}", GST_RANK_NONE,
		GST_TYPE_{{ element.name | upper_snake_case }});
{% endfor %}

	return TRUE;
}

GST_PLUGIN_DEFINE (
	GST_VERSION_MAJOR,
	GST_VERSION_MINOR,
	{{ plugin.name | all_lower_case }},
	"{{ plugin.description | escape_quotes }}",
	plugin_init, VERSION, "{{ plugin.license }}", PACKAGE_NAME, "{{ plugin.url | escape_quotes }}")
