{# @formatter:off #}
  switch (property_id) {
    {% for prop in element.properties %}
    case PROP_{{ prop.name | upper_snake_case }}:
      g_value_set_{{ prop.type | lower }} (value, {{ element.name | all_lower_case }}->{{ prop.name | lower_snake_case }});
      break;

    {% endfor %}

    default:
      G_OBJECT_WARN_INVALID_PROPERTY_ID (object, property_id, pspec);
      break;
  }
