{# @formatter:off #}
  switch (property_id) {
    {% for prop in element.properties %}
    case PROP_{{ prop.name | upper_snake_case }}:

      {% if prop.type in ['STRING'] %}
      g_free ({{ element.name | all_lower_case }}->{{ prop.name | lower_snake_case }});
      {{ element.name | all_lower_case }}->{{ prop.name | lower_snake_case }} = g_value_dup_string (value);
      {% else %}
      {{ element.name | all_lower_case }}->{{ prop.name | lower_snake_case }} = g_value_get_{{ prop.type | lower }}(value);
      {% endif %}

      break;

    {% endfor %}

    default:
      G_OBJECT_WARN_INVALID_PROPERTY_ID (object, property_id, pspec);
      break;
  }
