<select
  class="form-control"
  name="Classification"
  [(ngModel)]="element.classifications"
  [id]="id"
  multiple
>
  <option
    *ngFor="let classification of classifications"
    [ngValue]="classification"
  >
    {{ classification }}
  </option>
</select>


<p class="mt-2">
  <i class="fa fa-info-circle"></i> The Classification is used by pther program to sort, search and find plugins. See
  <a href="https://gstreamer.freedesktop.org/documentation/design/draft-klass.html" target="_blank">Element Klass
    definition</a> for an in-depth explanation of each Class.
</p>
