<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="{{ url_for("root") }}">

	<link rel="icon" type="image/svg+xml" href="static/icon.svg">
	<link rel="icon" type="image/png" href="static/icon.png">

	<title>{% block title %}GStreamer Plugin-Generator{% endblock %}</title>
	{% block styles %}
	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>
