<div ngModelGroup="element">

  <div class="form-group row">
    <label for="{{ 'name' | newId }}" class="col-lg-2 col-sm-12 col-form-label">Element Name</label>
    <div class="col-lg-10 col-sm-12">
      <input
        type="text" class="form-control"
        id="{{ 'name' | lastId }}" name="mame"
        required
        [(ngModel)]="element.name"
        (keyup)="generateIdentifier()"
        placeholder="Some Video-Tool"
      >
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ 'identifier' | newId }}" class="col-lg-2 col-sm-12 col-form-label">Element Identifier</label>
    <div class="col-lg-10 col-sm-12">
      <input
        #identifier="ngModel"
        pattern="[a-z][a-z0-9]*"
        required
        type="text" class="form-control"
        id="{{ 'identifier' | lastId }}" name="identifier"
        [(ngModel)]="element.identifier"
        placeholder="somevideotool"
      >
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ 'archetype' | newId }}" class="col-lg-2 col-sm-12 col-form-label">Archetype</label>
    <div class="col-lg-10 col-sm-12">
      <select
        required
        class="form-control"
        id="{{ 'archetype' | lastId }}" name="archetype"
        [(ngModel)]="element.archetype"
      >
        <option [value]="null"></option>
        <option *ngFor="let archetype of archetypes" [ngValue]="archetype">{{ archetype.name }}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="element.archetype">
    <div class="col">
      <i class="fa fa-info-circle mr-1"></i>
      <strong>{{ element.archetype.name }}:</strong>
      {{ element.archetype.description }}
    </div>
  </div>

</div>
