<div class="container">

  <h1>Hello</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique et ex ac bibendum. Maecenas eleifend
    purus at ornare porttitor. Fusce lacinia augue sed volutpat facilisis. In efficitur consequat massa et consectetur.
    Nunc imperdiet nec lacus ac ultrices. Vestibulum laoreet dolor nunc, vel semper nibh ullamcorper vel. Vestibulum
    convallis augue rutrum, pretium tellus eu, scelerisque lectus. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Donec iaculis blandit fermentum. Sed suscipit risus ut mi congue, tincidunt egestas mauris tristique.
    Morbi posuere pulvinar volutpat. Mauris justo nunc, porta a justo placerat, scelerisque feugiat lorem. Donec vitae
    ligula mollis, aliquet nisi et, rhoncus neque. Quisque in lorem id urna molestie condimentum non eget ipsum.</p>

  <app-plugin-form></app-plugin-form>
</div>
