<div class="container mt-3">

  <h1><i class="fa fa-rocket text-primary"></i> GStreamer Plugin Generator</h1>
  <p>Generate the Skeleton of a GStreamer Plugin.</p>

  <app-plugin-form
    #pluginFormComponent
    [plugin]="plugin"
    (changed)="storeChangedData()"
  ></app-plugin-form>

  <div class="row mb-3">
    <div class="col d-flex flex-wrap">
      <button
        type="button"
        [class.disabled]="!pluginFormComponent.valid"
        class="btn btn-primary mr-3 mb-3"
        (click)="onGenerateClicked();"
        appPreventDefault
      >
        <i class="fa fa-download"></i> Generate
      </button>


      <app-reset-form-button
        (reset)="resetForm()"
        class="mr-3 mb-3"
      ></app-reset-form-button>
      <app-upload-button
        (upload)="setPluginData($event)"
        class="ml-sm-auto mb-3"
      ></app-upload-button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <app-form-error-display [form]="pluginFormComponent.pluginForm"></app-form-error-display>
    </div>
  </div>

  <app-report-error
    #reportErrorComponent
    [plugin]="plugin"
  ></app-report-error>
</div>

<app-legal></app-legal>
<app-github-banner></app-github-banner>
