{# @formatter:off -#}
{{ plugin.name }}
{{ '=' * (plugin.name | length) }}
URL: {{ plugin.url }}
{{ plugin.description }}

Boilerplate generated with {{ generator }}

{% for element in plugin.elements %}
{{ element.name }}
{{ '-' * (element.name | length) }}
{{ element.description }}
{% endfor %}

Getting-Started
---------------
```
cd {{ plugin.name | all_lower_case }}
git init
git submodules init
./autogen.sh

cd examples
./inspect.sh
./run.sh
```
